<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
   <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/"><%= @roles_count %> Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Listing
    </li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <% @roles.each do |role| %>
        <%= render "role_card", role: role %>
    <% end %>
  </div>
</div>
