<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      New!
    </li>
  </ol>
</nav>

<div class="roles-form-container">

  <div class="row">
    <div class="col-4 text-end">
      <h3 class="role-sub-header">Create</h3>
    </div>
    <div class="col-8">
      <%= render "form", role: @role %>
    </div>
  </div>
  <br /><br />
</div>