<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">
        <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
        Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @role.title %>
    </li>
  </ol>
</nav>

<div>

  <h2 class="pb-2 border-bottom">Job Hunt 🎯</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

      <div class="feature col">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><%= @role.title %></h3>
          <p><%= @role.notes %></p>
          <small class="opacity-50 text-nowrap role-status"><%= @role.status %></small>
        </div>
      </div>

  </div>
</div>
